.cont20{

    width:65%;
    height: 500px;
    /* background-color: red; */
    
    
    border-radius: 15px;
    background-image:  url('../assets/navbarimg.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size:100% 100%;
    filter: saturate(1.2);
    filter: brightness(0.9);
    
  
}



@media only screen and (max-width: 767px) {
    .cont20 {
        width: 95%;
        height: 400px;  
        border-radius: 15px;
        background-image: url('../assets/navbarimg.png'); 
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%; /* Adjust as needed */
        filter: saturate(1.2);
        filter: brightness(0.9);
    }
}

